*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
}

body{
    width:  100vw;
    height: 100vh;
    /* overflow: hidden;     */
}

.logo{
    display: flex;
    align-items: start;
    width: 80%;
  
}

@media screen and (max-width:360px) {
    *{
        font-size: 0.2rem;
    }
}
@media screen and (min-width:800px) {
    .releve-container{
        width: 54%;
        
    }
    
}
@media screen and (max-width:428px) {
    *{
        font-size: 0.68rem;
    }
}


